@import url(//db.onlinewebfonts.com/c/69baa409a08898b1529830a984c0f25c?family=GraphiqueProNextCo);
@import url(//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular);

@font-face {
  font-family: "GraphiqueProNextCo";
  src: url("//db.onlinewebfonts.com/t/69baa409a08898b1529830a984c0f25c.eot");
  src: url("//db.onlinewebfonts.com/t/69baa409a08898b1529830a984c0f25c.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/69baa409a08898b1529830a984c0f25c.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/69baa409a08898b1529830a984c0f25c.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/69baa409a08898b1529830a984c0f25c.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/69baa409a08898b1529830a984c0f25c.svg#GraphiqueProNextCo")
      format("svg");
  font-family: "GraphiqueW01-Regular";
  src: url("//db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.eot");
  src: url("//db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.svg#GraphiqueW01-Regular")
      format("svg");
}

/* font-family: "GraphiqueW01-Regular"; */
/* font-family: "Bebas Neue", cursive; */

.myPosts {
  margin-top: 50px;
  font-family: "GraphiqueProNextCo";
  font-size: 5rem;
}

.browseBtn {
  background-color: #e50914;
}
